:root {
	--color-bg: #ffefd1;
	--color-fg: #150a04;

	--color-menu-bg: #6f6a59;
	--color-menu-a: #fffff0;
}

body {
	background-color: var(--color-bg);
	color: var(--color-fg);
}

h1, h2, h3 {
	line-height: 1.2;
}

p {
	text-align: justify;
}

.content {
	font-size: 16px;
	line-height: 1.6;
	margin: 128px auto;
	max-width: 850px;
	min-width: 400px;
	padding: 0 10px;
}

.filter-sepia {
	filter: sepia(75%);
	z-index: -1;
}

.img-circle-256px {
	border-radius: 50%;
	display: block;
	height: 256px;
	margin-bottom: 64px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 128px;
	object-fit: cover;
	width: 256px;
}

.img-circle-32px {
	border-radius: 50%;
	display: block;
	height: 32px;
	object-fit: cover;
	width: 32px;
}

.menu {
	background-color: var(--color-menu-bg);
	left: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	overflow: hidden;
	width: 100%;
}

.menu-item {
	border-right: none;
	float: left;
}

.menu-item a {
	color: var(--color-menu-a);
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 6px 8px;
}